<%- include('./partials/header') %>

<div class="container">
    <h2 id="indexTitle"> Senderos NorCal :)</h2>
  
    <div >
      <body id="page1" class="text-center">
        
      </body>
    </div>
  </div>

<%- include('./partials/footer') %>